<div
  class="is-flex is-justify-content-center is-align-items-center is-flex-direction-column"
  style="height: 100%"
>
  <p class="is-size-3 has-text-weight-bold">Purchase Plan</p>
  <br />

  <form id="payment-form" class="has-background-white p-5" style="width: 35vw">
    <div id="payment-element">
      <!-- Elements will create form elements here -->
    </div>
    <br />
    <button class="button is-primary" (click)="submitPaymentDetails()">
      Submit
    </button>
    <div id="error-message">
      <!-- Display error message to your customers here -->
    </div>
  </form>
</div>
